*{
    margin: 0%;
    padding: 0%;
   box-sizing: border-box;
}
header nav{
   padding: 3px;
}  
nav ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
nav ul li{

}
nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 20px;
    font-size: 16px;
}
.poster img{
    width: 1349px;
    height: 636px;
}
.boxes-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    box-sizing: border-box;
}
.boxes-flex .box1{
    flex-basis: 32%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding-bottom: 15px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;   
}

.box1{
    border: 5px solid black;
    width: 180px;
    padding: 10px;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h2{
   font-family: Arial, Helvetica, sans-serif;
   text-transform: capitalize;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.btn {
    text-decoration: none;
    padding: 7px 15px;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
}
.boxes-flex .box2{
    flex-basis: 32%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding-bottom: 15px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;   
}
.box2{
    border: 5px solid black;
    width: 180px;
    padding: 10px;
}
.boxes-flex .box3{
    flex-basis: 32%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding-bottom: 15px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;  
}
.box3{
    border: 5px solid black;
    width: 180px;
    padding: 10px;
}
.boxes-flex .box4{
    flex-basis: 32%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding-bottom: 15px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;  
}
.box4{
    border: 5px solid black;
    width: 180px;
    padding: 10px;
}
.boxes-flex .box5{
    flex-basis: 32%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding-bottom: 15px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;  
}
.box5{
    border: 5px solid black;
    width: 180px;
    padding: 10px;
}
.boxes-flex .box6{
    flex-basis: 32%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding-bottom: 15px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;  
}
.box6{
    border: 5px solid black;
    width: 180px;
    padding: 10px;
}
.text1{
    text-transform: capitalize;
    background-color: lightgray;
    padding: 50px;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    justify-content: space-between;
}
.d-flex .para1{
    flex-basis: 28%;
    border: 3px solid white;
    padding: 10px;
    margin: 30px;
    margin-top: 70px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px; 
}
p{
    padding: 10px;
}
.d-flex .para2{
    flex-basis: 28%;
    border: 3px solid white;
    padding: 40px;
    margin: 30px;
    margin-top: 70px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px; 
}
p{
    padding: 10px;
}
.bb ul li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

.d-flex .para3{
    flex-basis: 28%;
    border: 3px solid white;
    padding: 10px;
    margin: 30px;
    margin-top: 70px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px; 
}
p{
    padding: 14px;
}
.email1 a{
    color: white;
}
.footer1 p{
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;    
}



